body {
    font-family: times new roman;
    background-color: lightblue;
}
table {
    background-color: white;
    width : 50%;
    margin-top: 50px;
   
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding : 10px;

}
tr:hover {
    background-color: antiquewhite;
}
tr.b {
    background-color: aquamarine;
    font-weight: bold;
    text-align: center;
}
